.container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  place-items: center;
  justify-content: center;
}

.item {
  display: grid;
  place-items: center;
  font-size: 35px;
  padding: 30px;
  border: 1px black solid;
}
